body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #332E2E;
  }
  
  header {
    background-color: #330900;
    color: #fff;
    padding: 10px 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  h3 {
    color: #fff;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 10px;
    
  }
  
  a {
    color: #000; 
    text-decoration: none;
    font-weight: bold;
  }
  .movie-list {
    display: flex;
    flex-wrap: wrap;

  }
  
  .movie {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #383730;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    
  }
  
  .movie img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .movie h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .movie p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
  }
  
  .movie a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  p {
    text-align: center;
    color: #f1e1e1;
  }
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  label {
    display: inline-block;
    font-weight: bold;
    font-size: 18px; /* tamanho da fonte das etiquetas */
    margin-right: 10px;
    color: #ffffff; /* cor do texto das etiquetas */
    vertical-align: top;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    vertical-align: top;
    color: #000;
  }
  
  input[type="submit"] {
    background-color: #4a3e3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .contato h3{
    font-weight: lighter;
    color: #ffffff;
  }
  

